@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.shutterstock.com/image-vector/vector-map-city-center-berlin-600nw-309386210.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.leaflet-container {
  position: relative;
  height: 800px;
  width: 100%;
  }

.popup-request .leaflet-popup-content-wrapper {
  background: white;
  min-height: 200px;
  padding-left: 3px;
  padding-right: 3px;
}


.popup-request .leaflet-popup-content {
  margin: 0px;
}


.leaflet-container a {
  color: inherit;
  text-overflow: ellipsis;
}